# ===================================
# Root-level ignores
# ===================================

# Node modules (ignore all unless explicitly included)
node_modules/
.vscode/

frontend/node_modules/
backend/node_modules/